.venv/
.idea/
teste/
key.json
.env
output/
agriculture/agriculture.db
indexes/
inputs/vector_tasca_test.gpkg-shm
inputs/vector_tasca_test.gpkg-wal
merged/
.ipynb_checkpoints/
Codigos doutorado.ipynb
Untitled.ipynb
agriculture/__pycache__/


